* {
  box-sizing: border-box;
}

h1 {
  color: #FBF2C0;
  font-size: 20px;
}

h2 {
  color: #916F50;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  background: #EFEFEF;
}

/* Header Section */

.header-section {
  grid-area: header;
  min-height: 50px;
  margin: 0;
  padding: 0;
  background: #43281C;
}

.branding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  max-height: 50px;
  padding:10px;
}

/* Ordering information */
/* common */

.section-title {
  grid-area: title;
  padding: 10px
}

/*order information */

.amount {
  grid-area: amount;
  display: flex;
  justify-content: left;
  padding-left: 10px;
}

.type {
  display: flex;
  justify-content: left;
  grid-area: type;
}

.price{
  grid-area: price;
  display: flex;
  justify-content: right;
  padding-right: 10px;
}

.extras{
  grid-area: extras;
  font-weight: normal;
  color: #916F50;
  list-style-type: none;
}

.item-information {
  display: grid;
  grid-template-areas:
  "amount type . price"
  ". extras . .";
  border-bottom: 1px solid #916F50;
}

.items {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.third-item {
  border-bottom: none;
}

/*customer information*/

.information-box {
  position:relative;
  display: inline-block;
  background: #EEE1D5;
  color: #EEE1D5;
  padding-top:20px;
}

.information-input {
  border-color: #43281C;
  padding: 8px;
  border-radius: 20px;
}

.input-label {
  background: #EEE1D5;
  color: #916F50;
  font-size:11px;
  position: absolute;
  left:18px;
  top: 13px;
  padding: 0 2px;
}

.cvv.information-input {
  width:60%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-items: left;
  font-weight: bold;
  background: #EEE1D5;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-information {
  padding: 10px
}

.information-cards {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px
}

.order-cards {
  grid-area: content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  border-radius: 10px;
  background: #EFEFEF;
  padding: 30px;
}

/*Totals*/

.subtotals{
  grid-area: subtotals;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  min-width: 500px;
}

.total {
  font-weight:bold
}

.checkout {
  display:grid;
  grid-template-areas:
  ". . subtotals .";
  justify-content: space-around;
  align-items: center;
}

.place-order {
  min-height: 40px;
  border-radius: 30px;
  background: #EEE1D5;
  border-color:#EEE1D5;
}

.content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  justify-content: space-around;
  border-radius: 10px;
  background: #EFEFEF;
  margin: 0;
  padding: 20px;
}

.checkout-page {
  display: flex;
  flex-direction: column;
  padding: 0;
}
